.nav-link{
    margin: 10px;
    font-size: 18px;
    border-radius: 20px;
    transition: all 0.5s;


    &:hover{
        transform: scale(1.1);
        background-color: #3b297b;
        border-radius: 20px;
    }
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.9);
}

.logo{
    width: 110px;
    height: 30px;
    transition: all 0.5s;

    &:hover{
        transform: scale(1.1);

    }
}